* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary: #e85d04;
    --primary-dark: #c94d00;
    --accent: #f48c06;
    --bg: #fffaf5;
    --surface: #ffffff;
    --surface-2: #fff1e6;
    --text: #2b2118;
    --muted: #74675c;
    --border: #eadfd5;
    --color: #f48c06;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 50px;

    box-shadow: 0px 3px 5px rgba(28, 21, 21, 0.9);

    position: fixed;
    z-index: 10;

    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
}

.navlink {
    position: relative;
}

.navlink ul {
    display: flex;
    list-style: none;
}

.navlink ul li {
    font-size: 1.3rem;
    transition: transform 0.3s ease;
    margin-left: 60px;
}

.navlink ul li:hover {
    border-bottom: 2px solid var(--text);
}

.navlink ul li a {
    text-decoration: none;
    color: var(--color);
}



.menu-icon,
.close-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.menu-icon {
    display: none;
}

.close-icon {
    display: none;
}

/* *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary: #e85d04;
  --primary-dark: #c94d00;
  --accent: #f48c06;
  --bg: #fffaf5;
  --surface: #ffffff;
  --surface-2: #fff1e6;
  --text: #2b2118;
  --muted: #74675c;
  --border: #eadfd5;
  --color:#f48c06;
}

.navlink{
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(28, 21, 21, 0.9);
    position: fixed;
    z-index: 2;
    background-color:white;
    width: 100%;
    top: 0;
    left: 0; 
    box-sizing: border-box; 
}
 nav{
    position: relative;
 }
ul{
    display: flex;
    list-style: none;
}
ul li{
    font-size: 1.3rem;
    transition: transform  5s ease;
    margin-left: 60px;
}
ul li:hover{
    border-bottom: 2px solid var(--text);
}
ul li a{
    text-decoration: none;
    color: var(--color);
} */