
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    background-color: white;
    display: flex;
     align-items: center;
     justify-content: space-between;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 10;
     img{
        border-radius: 10px;
     }
     box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.265);

     .profile{
        background-color:#8A2CF4;
        padding: 15px;
        border-radius: 50px;
        color: white;
        font-weight: bold;
     }
}

.ambugerControl{
    position: absolute;
    top: 85%;
    right: 1%;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.258);
    padding: 10px;
    border-radius: 10px;
}
.logout {
     
     border-radius: 10px;
     padding: 2px;
 a {
     color: red;
     margin-top: 10px;
     font-size: 14px;
}
}
.userProfilename{
    opacity: 0.8;
    margin-bottom: 5px;
}
.userProfileemail{
    opacity: 0.8;
    margin-bottom: 5px;
}